body{
	background-color: #d3e0ea;
	color: #1687a7;
	font-family: 'Inconsolata', monospace;
	font-weight: 600;
	font-size: 16px;
}

p{
	letter-spacing: 3px;
}

h1{
	color: #276678;
	font-family: 'Lexend', sans-serif;
}

h2{
	color: #108258;
	font-family: 'Lexend', sans-serif;
	font-weight: 500;
	font-size: 22px;
}


.container{
	width: 700px;
	margin: 40px auto;
}

.card{
	background-color: #ffeab8;
	padding: 30px;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	margin: 20px auto;
	text-align: center;
}

.btn_purple{
	background-color: rgb(120,0,255);
	color: white;
	padding: 10px 17px;
	border-radius: 7px;
}
.btn_purple:hover{
	background-color: rgb(60,0,125);
	color: white;
}


.img-circle{
	border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline;
  padding: 0px 20px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}